[core]
	editor = vim
[alias]
  co = checkout
  c = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[user]
	name = medden
